%title {
  font-size: 1rem !important;
}

.header_title {
  @extend %title;
}

article {
  position: relative;
  width: 50%;
  .article {
    &-image {
      width: 100% !important;
    }
    &-title {
      font-family: $art-font;
      font-size: 1.5rem !important;
      font-weight: 700;
    }
    &-description {
      font-size: $global-font;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 1rem;
  }
}

.my_turn {
  h2 {
    font-size: 1.2rem;
    text-decoration: none;
  }
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.more-stories {
  .more-story-el {
    .more-story-image {
      width: 100% !important;
    }
  }
}
