nav {
  position: relative;
  align-items: center;
  color: #fff;
  .top_red_nav {
    background: $primary-bg;
  }

  li {
    padding: 0 1rem;
    .nav-link {
      color: $dark;
    }
  }
  .flo_item {
      position: absolute;
      background: $primary-bg;
      width: 6rem;
      height: 2rem;
      top: 0;
      right: -0.91rem;
      border-bottom-left-radius: 9rem;
  }
}
