@import "https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap";

$primary-color: blue;
$primary-bg: #f72210;
$light: #fff;
$dark: #000;
$sub-bg: #ffe400;
$art-font: 'Oswald', sans-serif;
$country-color: #fbfcfd;
$global-font: 0.9rem;
$condensed:  'Open Sans Condensed', sans-serif;
$border-color: rgb(26, 24, 24);
$body-bg: lighten(grey, 40%);
$bigger-text: 1.2rem;
